.buttons{
    background-color: rgb(75, 75, 184);
    color: white;
    border-radius: 4px;
    
    font-size: 20px;
}


.jobs-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .job-box {
  width: 340px; /* Set the desired width for each job box */
  height: 550px; /* Set the desired height for each job box */
  border: 5px solid #ccc;
  padding: 10px;
  margin: 10px;
}
  .job-box h3 {
    margin-top: 0;
  }

  .job-box p {
    margin-bottom: 5px;
  }

  .Rejectstatus{
    color: Red;
    font-size: 20px;
  }

  .status{
    color: green;
    font-size: 20px;
  }