

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  
</head>

<body>

  <div class="body">
    <div class="container">
      <!-- <div class="empty-jobs-container" *ngIf="displayedAppliedJobs.length === 0">

        <h4 class="content">No Jobs Are Applied</h4>
  
        <button routerLink="/app-dashboard/jobspage" class="apply">Click To Apply</button>
  
        <div class="flowing-image"></div> -->
      <div class="jobs-row"> 
      <div class="job-box" *ngFor="let item of displayedAppliedJobs"  >
       
      
        <!-- <h1>{{item.jobId}}</h1> -->
        <h3>{{ item.jobTitle }}</h3>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Company: </span> {{ item.companyName }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Experience: </span> {{ item.experience }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Skills: </span>{{ item.skills }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Type: </span>{{ item.jobType }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Location: </span>{{ item.location }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Description: </span> {{ item.jobDescription }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Qualification: </span>{{ item.qualification }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Positions: </span>{{ item.positions }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Salary: </span>{{ item.salary }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">PostedDate: </span>{{ item.postedDate }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">EndDate: </span>{{ item.endDate }}</p>
    
        <h3>Jobs status</h3>
        <p class="Rejectstatus">{{ item.rejectionReason }} </p>
  <p class="status">{{ item.scheduleMeetingDate}} 
  </p>

  <ng-container *ngIf="!item.rejectionReason && !item.scheduleMeetingDate">
    <p class="in-progress">In progress, waiting for client. 
    </p>
  </ng-container>
      </div>
    </div>
    
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <button class="page-link buttons" tabindex="-1" (click)="previousPage()">Previous</button>
        </li>
       
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
          <button class="page-link buttons" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>
    <h5 style="text-align: center;">Page: {{ currentPage }} of {{ totalPages }}</h5> 
  </div>
</div>

</body>

</html>





















